body {
    background-color: gray;
    color: #FFF;
    font: 1em Arial;
    text-align: center;
}

.box {
    width: 50%;
    height: auto;
    margin: 50px auto;
    padding: 20px;
    border: 2px black solid;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000;
    text-align: center;
}

input {
    height: 30px;
    width: 80%;
    margin-bottom: 10px;
}

#res {
    font-size: larger;
    color: white;
    text-align: center;
}

button {
    width: 30%;
    height: 40px;
    border-radius: 10px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
    color: white;
}
